apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-deployment-datail-param
spec:
  # PodがReadyになってから、Dploymentリソース的にPodの起動が完了したと判断する時間
  minReadySeconds: 0
  # Deploymentが保存するRepilicaSetの数
  revisionHistoryLimit: 2
  # Recreate/RollingUpdate処理のタイムアウト時間
  progressDeadlineSeconds: 3600
  replicas: 3
  selector:
    matchLabels:
      app: sample-app
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      containers:
        - name: nginx-container
          image: nginx:1.12
